In [ ]:
import pandas as pd

In [1]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is A056-6C18

 Directory of c:\desktop-folder\30Jun2025\scaler_25JuneBatch\python\python-project\educ\pandas\class_04

05-02-2026  23:04    <DIR>          .
05-02-2026  11:18    <DIR>          ..
05-02-2026  16:36    <DIR>          data
05-02-2026  16:41    <DIR>          examples
05-02-2026  23:04                 0 first.ipynb
               1 File(s)              0 bytes
               4 Dir(s)  331,815,526,400 bytes free

In [11]:
import pandas as pd
movies=pd.read_csv('data/movies.csv')
movies.head(10)

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
6,10,43607,270000000,57,391081192,Superman Returns,5.4,1400,4772,2006,Jun,Wednesday
7,11,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,4773,2008,Oct,Thursday
8,12,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday
9,13,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday

In [12]:
top_10_poular_nmoives=movies.sort_values(by='popularity',ascending=False).head(10)
top_10_poular_nmoives

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
58,95,43692,165000000,724,675120017,Interstellar,8.1,10867,4765,2014,Nov,Wednesday
78,127,43724,150000000,434,378858340,Mad Max: Fury Road,7.2,9427,4845,2015,May,Wednesday
119,199,43796,140000000,271,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday
120,200,43797,125000000,206,752100229,The Hunger Games: Mockingjay - Part 1,6.6,5584,4831,2014,Nov,Tuesday
45,65,43662,185000000,187,1004558444,The Dark Knight,8.2,12002,4765,2008,Jul,Wednesday
162,270,43867,108000000,167,630161890,The Martian,7.6,7268,4779,2015,Sep,Wednesday
59,96,43693,160000000,167,825532764,Inception,8.1,13752,4765,2010,Jul,Wednesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
383,662,44259,63000000,146,100853753,Fight Club,8.3,9413,4829,1999,Oct,Friday